@tailwind base;
@tailwind components;
@tailwind utilities;


.font-atma {
    font-family: 'Atma', cursive;
}

.pb-custom{
   padding-bottom: 75%;
}

.text-color-custom {
    color: #6466F1;
}

.bg-main {
    background-color: #151b29 ;
}
.bg-resume {
    background-color: #D61320;
}
.resume-custom {
    bottom: 122px;
    left: 122px;
}

.rounded-tl-custom {
    border-top-left-radius: 460px;
    border-top-right-radius: 200px;
    border-top-width: 25px;
    border-top-color: white;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 400px;
}