@tailwind base;
@tailwind components;
@tailwind utilities;


.font-atma {
    font-family: 'Atma', cursive;
}

.pb-custom{
   padding-bottom: 75%;
}

.text-color-custom {
    color: #15BECE;
}

.bg-main {
    background-color: #151D2D ;
}
.bg-resume {
    background-color: #D61320;
}
.resume-custom {
    bottom: 122px;
    left: 122px;
}